{% extends 'index.html' %}

{% block header %}

{% if user.is_authenticated %}

<a  class="btn btn-primary" href="{% url 'logout' %}"  role="button">Logout</a>

<a class="nav-link" href="#">Welcome, {{user.username}}</a>

{% else %}

<a name="" id="" class="btn btn-primary" href='{% url "user_login" %}' role="button">SignIn</a>
<a name="" id="" class="btn btn-primary" href='{% url "user_reg" %}' role="button">SignUp</a>

{% endif %}
</ul>
</div>

{% endblock header %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

{% endblock body %}