{% extends 'index.html' %}

{% block header %}

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>

<a class="nav-link" href="#">Welcome, {{user.username}}</a>

{% else %}

<a name="" id="" class="btn btn-primary" href='{% url "user_login" %}' role="button">SignIn</a>
<a name="" id="" class="btn btn-primary" href='{% url "user_reg" %}' role="button">SignUp</a>
{% endif %}

{% endblock header %}

{% block body %}


{% if user.is_authenticated %}
<div onload='document.InsertForm.string_in.focus()'>

    <div class="container mt-lg-5">
        <div class="row">
            <div class="col-sm-6">
                <h3>Input Values:</h3>
                <p>User can input comma separated integers...</p>
                <p>
                    <form name="SearchForm" class="form-group" method="POST">
                        {% csrf_token %}
                        <input class='input-group' name="string_input" id="string_input">

                </p>

                <p>Insert like this: 9, 1, 5, 7, 10, 11, 0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Search Value:</h3>
                <p>User can input only one integer ...</p>

                <p>

                    <input class='input-group' type="number" name="inputted_search_key" id="inputted_search_key">
                    <br>
                    <button class='btn btn-sm btn-outline-primary' type="submit">Khoj</button>
                </p>
                </form>
                <p>Like this: 2 </p>
            </div>
        </div>
        <div class="row-cols-2">
            <p id="result" name="result" class="h3" value="{{boolean_val}}">{{boolean_val}}</p>
        </div>
    </div>

</div>


{% else %}
<div class="container row text-warning text-center">
    <p > Login First</p>
</div>
{% endif %}



{% endblock body %}

<script type="text/javascript">
    function validationFunc(inputtxt) {
        var Inserted = /^(?:\d+(?:,\d+)*,?)?$/;
        if (inputtxt.value.match(Inserted)) {
            return true;
        } else {
            alert("Not a valid Input");
            return false;
        }
    }
</script>